<header
  class="flex justify-between items-center mx-auto h-100 px-12 bg-linear-to-b from-[#e4f6d8] to-[#FCFAFA]"
>
  <div class="w-full h-full">
    <div class="flex pt-14 space-x-40 h-100">
      <div class="w-1/2">
        <h2 class="text-text font-bold text-4xl mb-6">
          Forma parte de nuestros
          <i class="text-primary">equipos deportivos!</i>
        </h2>
        <p class="text-justify">
          ¡Descubre la disciplina, el trabajo en equipo y la satisfacción de
          alcanzar metas juntos! Ya seas un atleta experimentado o tengas ganas
          de probar algo nuevo, te invitamos a conocer nuestros diversos
          equipos. ¡Infórmate, inscríbete y vive la intensidad del deporte
          universitario! ¡Tu momento de brillar es ahora!
        </p>
      </div>
      <div class="w-1/2">
        <img
          src="/assets/deportes.png"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
    </div>
  </div>
</header>

<div class="mx-auto max-w-7xl px-3 py-6 flex flex-col">
  <p class="text-text text-xl font-semibold mb-8">
    Directorio de nuestros principales deportes
  </p>
  <div class="grid grid-cols-3 gap-4">
    <app-sport-card
      [title]="'Americano'"
      [email]="'deportes.fime@uanl.mx'"
      [place]="'Gaspar Mass'"
      [phone]="'LV 3pm - 9pm'"
      [responsible]="'Alberto Contreras'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Futbol'"
      [email]="'deportes.fime@uanl.mx'"
      [place]="'Campo FIME'"
      [phone]="'LMV 3pm - 8pm'"
      [responsible]="'Alberto Contreras'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Natación'"
      [email]="'deportes.fime@uanl.mx'"
      [place]="'Centro Acuático Olímpico Universitario'"
      [phone]="'LV 12:30pm - 1:30pm'"
      [responsible]="'Darianna Morán'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Voleibol'"
      [email]="'deportes.fime@uanl.mx'"
      [place]="'Polideportivo FIME'"
      [phone]="'LV 6:00pm - 9:00pm'"
      [responsible]="'José Luis Virgen'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Basquetball'"
      [email]="'deportes.fime@uanl.mx'"
      [place]="'Polideportivo FIME'"
      [phone]="'LV 3pm - 6pm'"
      [responsible]="'Jonathan Banda'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Atletismo'"
      [email]="'deportes.fime@uanl.mx'"
      [place]="'Estadio Chico Rivera'"
      [phone]="'LMV 3:00pm - 5:00pm'"
      [responsible]="'Laura Gabriela Pulido'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Animación'"
      [email]="'deportes.fime@uanl.mx'"
      [place]="'FIME Sintético o Campo Softball'"
      [phone]="'LMV 6:30pm - 9:30pm'"
      [responsible]="'Fidel Reyes'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Ciclismo'"
      [email]="'deportes.fime@uanl.mx'"
      [place]="'Pista de Niños Heroés'"
      [phone]="'LMV 5:00pm - 7:00pm'"
      [responsible]="'José Manuel Rodríguez'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Taekwondo'"
      [email]="'deportes.fime@uanl.mx'"
      [place]="'Campo FIME'"
      [phone]="'LMV 10:20am - 11:45am o MJ 3:00pm - 8:30pm'"
      [responsible]="'Juan Bautista'"
    ></app-sport-card>
  </div>
  <div class="mt-10">
    <h2 class="text-text text-xl font-semibold mb-8">
      ¡Contacta el siguiente correo para conocer más deportes!
    </h2>
    <p class="font-semibold text-text">
      Correo: deportes.fime<span>&#64;</span>uanl.mx
    </p>

    <a
      href="https://www.facebook.com/deportesfime"
      class="text-primary font-semibold hover:underline"
      >Página de Facebook</a
    >
  </div>
</div>
