<!-- tabs.component.html -->
<div
  class="w-full h-full bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
>
  <ul
    class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800"
    id="defaultTab"
    role="tablist"
  >
    <li class="me-2">
      <button
        (click)="selectTab('about')"
        [class]="getButtonClasses('about')"
        role="tab"
        aria-controls="about"
        [attr.aria-selected]="activeTab === 'about'"
      >
        Acerca
      </button>
    </li>
    <li class="me-2">
      <button
        (click)="selectTab('services')"
        [class]="getButtonClasses('services')"
        role="tab"
        aria-controls="services"
        [attr.aria-selected]="activeTab === 'services'"
      >
        Información
      </button>
    </li>
  </ul>
  <div id="defaultTabContent">
    <!-- About Tab -->
    @if (activeTab === 'about') {
    <div
      class="p-4 bg-white rounded-lg md:p-8"
      role="tabpanel"
      aria-labelledby="about-tab"
    >
      <h2 class="mb-3 text-3xl font-bold tracking-tight text-text">
        {{ title01() }}
      </h2>
      <p class="mb-3 text-gray-500 dark:text-gray-400 text-justify">
        {{ text01() }}
      </p>
    </div>
    }

    <!-- Services Tab -->
    @if (activeTab === 'services') {
    <div
      class="p-4 bg-white rounded-lg md:p-8"
      role="tabpanel"
      aria-labelledby="services-tab"
    >
      <h2 class="mb-5 text-3xl tracking-tight text-text font-bold">Contacto</h2>
      <ul role="list" class="space-y-4 text-gray-500">
        <li><b>Correo:</b>{{ email() }}</li>
        <li><b>Teléfono:</b> {{ phone() }}</li>
        <li>
          <b>Página:</b
          ><a href="{{ url() }}" class="hover:underline">{{ webpage() }}</a>
        </li>
      </ul>
    </div>
    }
  </div>
</div>
