<div class="mx-auto max-w-7xl px-3 py-6 flex">
  <div class="md:flex md:items-start md:gap-8 text-justify">
    <div class="mb-6 md:mb-0 md:shrink-0">
      <a href="/servicios-generales" class="flex mb-4 space-x-4 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          class="size-5 stroke-2 stroke-text"
        >
          <path
            fill-rule="evenodd"
            d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z"
            clip-rule="evenodd"
          />
        </svg>
        <p class="text-text font-semibold text-xl">Atrás</p>
      </a>

      <img
        src="/assets/intercambio.jpg"
        alt="Prácticas Profesionales"
        class="rounded-md object-cover w-full h-48 md:h-64"
      />
      <div class="bg-secondary rounded-2xl p-5 mt-8 shadow-md">
        <h3 class="text-primary text-xl font-semibold">Contacto</h3>
        <p class="font-semibold text-text mt-6">Correo electrónico:</p>
        <p class="">movilidad.fime<span>&#64;</span>uanl.mx</p>
        <p class="font-semibold text-text mt-6">Teléfono:</p>
        <p class="">+52 83-29-4020 Ext. 5925</p>
        <p class="font-semibold text-text mt-6">Lugar:</p>
        <p class="">CIDET - 3er piso FIME</p>
      </div>
    </div>
    <div>
      <h3 class="text-2xl font-semibold text-primary mb-4">
        Movilidad Académica
      </h3>
      <p class="text-gray-700 leading-relaxed mb-6">
        A través del programa de movilidad, los estudiantes de la UANL tienen la
        oportunidad de continuar sus estudios en el extranjero, mediante una
        estancia de un semestre a un año (según sea el caso), por medio de los
        acuerdos de colaboración conjunta (consúltalos en Enlaces Relacionados
        de esta página) entre la UANL y organismos e instituciones
        internacionales.
      </p>
      <div class="mb-4">
        <h2 class="text-lg font-semibold text-text mb-2">Requisitos:</h2>
        <ol class="list-decimal list-inside text-gray-700 leading-relaxed">
          <li>
            Formato de solicitud con fotografía (UANL). Consulta los Enlaces
            Relacionados de esta página.
          </li>
          <li>
            Carta de motivos por los que se desea realizar el intercambio. La
            carta debe de estar dirigida a la universidad destino. (Se puede
            aplicar hasta a tres universidades diferentes)
          </li>
          <li>Carta compromiso.</li>
          <li>Curriculum vitae.</li>
          <li>
            Carta de apoyo del director(a) de la dependencia. (Realizada por la
            FIME , una vez entregada la mayoría de la papelería a la
            Coordinación de Titulación y Movilidad Académica)
          </li>
          <li>
            Para estudiantes de licenciatura, haber cursado y aprobado un mínimo
            de 50 % de los créditos del plan de estudios.
          </li>
          <li>
            Ser estudiante regular y contar con un promedio mínimo de 85
            (general) y tener un desempeño académico sobresaliente.
          </li>
          <li>
            Carta del Subdirector(a) Académico de la dependencia o
            Coordinador(a) de Escolar, en la cuál se certifique el promedio y el
            porcentaje de créditos cubiertos hasta el momento de aplicar.
          </li>
          <li>Kardex (certificado).</li>
          <li>
            Contenido analítico de cada una de las unidades de aprendizaje que
            se cursarán en la institución receptora.
          </li>
          <li>
            Formato de autorización de unidades de aprendizaje firmada por la
            Comisión Académica de la dependencia, el cuál debe de contener las
            unidades de aprendizaje a cubrir, de al menos 18 créditos en un
            periodo semestral para nivel licenciatura (o en su caso específico
            para ciertos programas, el número de créditos podría aumentar a 30).
          </li>
          <li>
            Constancia del dominio del idioma requerido (según el país destino)
          </li>
          <li>
            Copia del pasaporte (con vigencia mínima de 06 meses más a la fecha
            de regreso).
          </li>
          <li>Copia del CURP.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
