<header
  class="flex justify-between items-center mx-auto h-100 px-12 bg-linear-to-b from-[#e4f6d8] to-[#FCFAFA]"
>
  <div class="grid grid-cols-2 gap-4">
    <!-- izquierdo -->
    <div class="flex flex-col pt-10">
      <h2 class="text-text font-bold text-4xl mb-6">
        Agenda tus <i class="text-primary">Citas</i>
      </h2>
      <p class="text-justify">
        Tu bienestar es lo más importante. En esta sección puedes agendar citas
        de atención psicológica, nutricional o fisioterapia de forma rápida y
        sencilla. Cuida tu salud con el apoyo de profesionales, todo desde un
        mismo lugar.
      </p>
      <!-- boton -->
      <div>
        <a
          class="bg-accent rounded-4xl px-10 py-2 text-white font-semibold mt-6 inline-block"
          routerLink="/agendar-citas"
        >
          Agendar Cita
        </a>
      </div>
    </div>

    <!-- derecho -->
    <div class="place-items-center">
      <img src="/assets/1.png" alt="" class="" />
    </div>
  </div>
</header>

<!-- main/contenido -->
<div class="mx-auto max-w-7xl px-3 py-6 flex">
  <div class="space-y-16 mt-5">
    <div class="flex space-x-10 w-full h-72">
      <div class="w-1/3">
        <img
          src="/assets/psicologia.png"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
      <div class="w-2/3 h-full">
        <!-- bg-amber-950 w-auto h-auto -->
        <app-card
          [title01]="'Psicología'"
          [text01]="`Nuestro servicio de Psicología ofrece un espacio seguro y confidencial para explorar tus emociones,
          afrontar desafíos personales y fortalecer tu bienestar mental. Nuestros profesionales están aquí para brindarte apoyo,
          herramientas y estrategias que te permitan desarrollar resiliencia, mejorar tus relaciones y alcanzar una mayor calidad de vida.`"
          [email]="' OrientacionPsicologicaFIME@gmail.com'"
          [phone]="' 81 8329 4020'"
          [webpage]="' Página oficial de facebook'"
          [url]="
            'https://www.facebook.com/p/Orientaci%C3%B3n-Psicol%C3%B3gica-FIME-100027116306925/'
          "
        ></app-card>
      </div>
    </div>

    <div class="flex space-x-10 w-full">
      <div class="w-2/3">
        <!-- bg-amber-950 w-auto h-auto -->
        <app-card
          [title01]="'Nutrición'"
          [text01]="`A través de nuestro servicio de Nutrición, te proporcionamos la guía y el conocimiento necesario para adoptar hábitos
        alimenticios saludables y sostenibles. Nuestros expertos te ayudarán a comprender tus necesidades individuales, optimizar tu energía,
        mejorar tu rendimiento académico y deportivo, y alcanzar tus objetivos de bienestar a través de una alimentación consciente y equilibrada.`"
          [email]="' contactofime@uanl.mx'"
          [phone]="' A través de MS Teams en el equipo NutriFIME'"
          [webpage]="' Página oficial de facebook'"
          [url]="'https://www.facebook.com/NutricionFIME/'"
        ></app-card>
      </div>
      <div class="w-1/3">
        <img src="/assets/nutricion.jpg" alt="" />
      </div>
    </div>

    <div class="flex space-x-10 w-full">
      <div class="w-1/3">
        <img src="/assets/fisioterapia.jpg" alt="" />
      </div>
      <div class="w-2/3">
        <!-- bg-amber-950 w-auto h-auto -->
        <app-card
          [title01]="'Fisioterapia'"
          [text01]="`Nuestro servicio de Fisioterapia está dedicado a la prevención, tratamiento y rehabilitación de lesiones y
           dolencias musculoesqueléticas. Nuestros fisioterapeutas altamente capacitados te ofrecerán una atención personalizada para
            aliviar el dolor, restaurar la movilidad, mejorar tu función física y promover tu recuperación integral, permitiéndote volver
             a tus actividades diarias y deportivas de manera segura y efectiva `"
          [email]="' contactofime@uanl.mx'"
          [phone]="' A través de MS Teams en el equipo FisioFIME'"
          [webpage]="' N/A'"
        ></app-card>
      </div>
    </div>
  </div>
</div>
