<header
  class="flex justify-between items-center mx-auto h-100 px-12 bg-linear-to-b from-[#e4f6d8] to-[#FCFAFA]"
>
  <div class="w-full h-full">
    <div class="flex pt-14 space-x-40 h-100">
      <div class="w-full md:w-1/2">
        <h2 class="text-text font-bold text-4xl mb-6">
          Forma parte de nuestros
          <i class="text-primary">grupos artísticos!</i>
        </h2>
        <p class="text-justify">
          ¡Descubre el poder de la colaboración, la belleza de la creación y la
          satisfacción de compartir tu arte con el mundo! ¡Infórmate sobre
          nuestros diversos grupos artísticos y encuentra tu voz! ¡Tu arte tiene
          un lugar aquí!
        </p>
      </div>
      <div class="hidden md:w-1/2 md:block">
        <img
          src="/assets/cultura.png"
          alt=""
          class="h-88 w-full object-contain block mx-auto"
        />
      </div>
    </div>
  </div>
</header>

<div class="mx-auto max-w-7xl px-3 py-6 flex flex-col">
  <p class="text-text text-xl font-semibold mb-8">
    Directorio de nuestros principales grupos artísticos
  </p>
  <div class="grid grid-cols-3 gap-6">
    <app-sport-card
      [title]="'Danza Folklórica'"
      [email]="'gbarocio@hotmail.com'"
      [place]="'Edificio de Salud y Cultura 2do Piso FIME'"
      [phone]="'MMJ 3:00pm - 7:00pm'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Tango'"
      [email]="'gbarocio@hotmail.com'"
      [place]="'Edificio de Salud y Cultura 2do Piso FIME'"
      [phone]="'MJ 3:00pm - 7:00pm'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Canto'"
      [email]="'gloria.barociopd@uanl.edu.mx'"
      [place]="'Edificio de Salud y Cultura FIME'"
      [phone]="'Consultar Teams - rtidov7'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Rondalla'"
      [email]="'gbarocio@hotmail.com'"
      [place]="'Edificio de Salud y Cultura FIME'"
      [phone]="'Consultar Teams - rtidov7'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Tuna'"
      [email]="'gbarocio@hotmail.com'"
      [place]="'Edificio de Salud y Cultura FIME'"
      [phone]="'Consultar Teams - rtidov7'"
    ></app-sport-card>
    <app-sport-card
      [title]="'Música'"
      [email]="'gbarocio@hotmail.com'"
      [place]="'Edificio de Salud y Cultura FIME'"
      [phone]="'Consultar Teams - rtidov7'"
    ></app-sport-card>
  </div>
  <div class="mt-10">
    <h2 class="text-text text-xl font-semibold mb-8">
      ¡Contactate a través del siguiente correo o grupo de teams para conocer
      más grupos artísticos!
    </h2>
    <p class="font-semibold text-text">
      Correo: gloria.barociopd<span>&#64;</span>uanl.edu.mx
    </p>
    <a
      href="https://www.facebook.com/CulturaFimeUANL/"
      class="text-primary font-semibold hover:underline"
      >Página de Facebook</a
    >
  </div>
</div>
