<div class="mx-auto max-w-7xl px-3 py-6 flex">
  <div class="md:flex md:items-start md:gap-8 text-justify">
    <div class="mb-6 md:mb-0 md:shrink-0">
      <a href="/servicios-generales" class="flex mb-4 space-x-4 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          class="size-5 stroke-2 stroke-text"
        >
          <path
            fill-rule="evenodd"
            d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z"
            clip-rule="evenodd"
          />
        </svg>
        <p class="text-text font-semibold text-xl">Atrás</p>
      </a>

      <img
        src="/assets/practicas.jpg"
        alt="Prácticas Profesionales"
        class="rounded-md object-cover w-full h-48 md:h-64"
      />
      <div class="bg-secondary rounded-2xl p-5 mt-8 shadow-md">
        <h3 class="text-primary text-xl font-semibold">Contacto</h3>
        <p class="font-semibold text-text mt-6">Correo electrónico:</p>
        <p class="">cristina.villegasg<span>&#64;</span>uanl.mx</p>
        <p class="font-semibold text-text mt-6">Teléfono:</p>
        <p class="">+52 83-29-4020 Ext. 5747 5748</p>
        <p class="font-semibold text-text mt-6">Lugar:</p>
        <p class="">Edificio 11 primer piso FIME</p>
      </div>
    </div>
    <div>
      <h3 class="text-2xl font-semibold text-primary mb-4">
        Prácticas Profesionales
      </h3>
      <p class="text-gray-700 leading-relaxed mb-6">
        Es el conjunto de actividades formativas que un estudiante de la
        Universidad realiza en alguna organización receptora con el fin de
        consolidar las competencias adquiridas en el aula, y que se desarrollan
        en el sector público, social y privado.
      </p>
      <div class="mb-4">
        <h2 class="text-lg font-semibold text-text mb-2">
          Requisitos para la realización de prácticas
        </h2>
        <ul class="list-disc list-inside text-gray-700 leading-relaxed">
          <li>Tener cubiertas las cuotas escolares del semestre</li>
          <li>Contar con 110 créditos al momento del registro</li>
          <li>
            Es obligatorio tomar las pláticas informativas, la programación de
            esta actividad se publica en MS Teams y página de Facebook, durante
            los meses de marzo y septiembre respectivamente.
          </li>
        </ul>
      </div>
      <div class="mb-4">
        <h2 class="text-lg font-semibold text-text mb-2">
          Tipo de Prácticas Profesionales
        </h2>
        <ul class="list-disc list-inside text-gray-700 leading-relaxed">
          <li>Curriculares</li>
          <li>No curriculares</li>
        </ul>
      </div>
      <div>
        <h2 class="text-lg font-semibold text-text mb-2">
          Prácticas Profesionales Curriculares
        </h2>
        <ol class="list-decimal list-inside text-gray-700 leading-relaxed">
          <li>
            Es aquella que tiene validez de créditos y se asentará en los
            documentos académicos del estudiante.
          </li>
          <li>
            La duración es de 6 meses cumpliendo de 4 a 6 horas diarias, dando
            un mínimo de 480 horas totales.
          </li>
          <li>
            Para el inicio del trámite debes verificar en el SIASE las vacantes
            disponibles y seleccionar la que sea de tu interés.
          </li>
          <li>
            Asistir a la entrevista programada por la empresa y si es aceptado
            se le entregará documento del SIASE, así como un formato de Convenio
            y póliza contra accidentes debidamente firmada y sellada.
          </li>
          <li>
            Los documentos antes mencionados se entregan en la Coordinación de
            Prácticas Profesionales en las fechas indicadas: Semestre Enero -
            Junio del 01 de octubre al 25 de noviembre y para el semestre: mayo
            - diciembre del 01 de abril al 25 de mayo.
          </li>
        </ol>
      </div>
      <div class="mt-5">
        <h2 class="text-lg font-semibold text-text mb-2">
          Prácticas Profesionales No Curriculares
        </h2>
        <p class="text-gray-700 leading-relaxed">
          Es aquella que no tiene validez de créditos Este tipo de práctica la
          puedes realizar en cualquier época del año. La duración mínima es de 2
          meses y máximo de 6 meses cumpliendo de 4 a 6 horas por día. Esta
          práctica se puede renovar por un periodo adicional de máximo 6 meses.
          No se revalida alguno de estos periodos por una práctica Curricular
          Para el inicio del trámite debes verificar en el SIASE las vacantes
          disponibles y seleccionar la que sea de tu interés. Asistir a la
          entrevista programada por la empresa y si es aceptado se le entregará
          documento del SIASE, así como un formato de Convenio y póliza contra
          accidentes debidamente firmada y sellada. Los documentos antes
          mencionados se deberán entregar en la Coordinación de Prácticas
          Profesionales.
        </p>
      </div>
    </div>
  </div>
</div>
