<div class="bg-white rounded-lg shadow-md overflow-hidden h-full">
  <div class="p-4 flex items-start">
    <div class="">
      <h3 class="text-xl font-semibold text-primary mb-2">
        {{ title() }}
      </h3>
      <div class="grid grid-cols-1">
        <div>
          <strong class="font-semibold text-sm text-gray-600">Lugar: </strong>
          <span class="text-gray-800 text-sm"> {{ place() }}</span>
        </div>
        <div>
          <strong class="font-semibold text-sm text-gray-600">Correo: </strong>
          <a [href]="'mailto:'" class="text-primary text-sm hover:underline">{{
            email()
          }}</a>
        </div>
        <div>
          <strong class="font-semibold text-sm text-gray-600">Horario: </strong>
          <a [href]="'place:'" class="text-gray-800 text-sm"> {{ phone() }}</a>
        </div>
        <div>
          <strong class="font-semibold text-sm text-gray-600"
            >Responsable:
          </strong>
          <span class="text-gray-800 text-sm"> {{ responsible() }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
