<div class="mx-auto max-w-7xl px-3 py-6 title flex items-center space-x-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    class="size-5 stroke-2 stroke-text"
  >
    <path
      fill-rule="evenodd"
      d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z"
      clip-rule="evenodd"
    />
  </svg>

  <p class="font-bold text-2xl text-text">Mis Citas</p>
</div>

<app-table></app-table>
