<div class="bg-white rounded-lg shadow-md overflow-hidden h-full">
  <div class="p-6 flex items-start">
    <div class="text-3xl mr-4 text-primary">
      <!-- {{ icon() }} -->
    </div>
    <div>
      <h3 class="text-xl font-semibold text-primary mb-2">
        {{ title() }}
      </h3>
      <p class="text-gray-700 mb-4 text-justify">
        {{ text() }}
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <strong class="font-semibold text-sm text-gray-600">Lugar:</strong>
          <span class="text-gray-800 text-sm"> {{ place() }}</span>
        </div>
        <div>
          <strong class="font-semibold text-sm text-gray-600">Correo:</strong>
          <a [href]="'mailto:'" class="text-primary text-sm hover:underline">{{
            email()
          }}</a>
        </div>
        <div>
          <strong class="font-semibold text-sm text-gray-600">Teléfono:</strong>
          <a [href]="'tel:'" class="text-gray-800 text-sm"> {{ phone() }}</a>
        </div>
        <div>
          <strong class="font-semibold text-sm text-gray-600"
            >Responsable:</strong
          >
          <span class="text-gray-800 text-sm"> {{ responsible() }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
