<div class="mx-auto max-w-7xl px-3 py-6 flex">
  <div class="md:flex md:items-start md:gap-8 text-justify">
    <div class="mb-6 md:mb-0 md:shrink-0">
      <a href="/servicios-generales" class="flex mb-4 space-x-4 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          class="size-5 stroke-2 stroke-text"
        >
          <path
            fill-rule="evenodd"
            d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z"
            clip-rule="evenodd"
          />
        </svg>
        <p class="text-text font-semibold text-xl">Atrás</p>
      </a>

      <img
        src="/assets/sc.jpg"
        alt="Servicio Socail"
        class="rounded-md object-cover w-full h-48 md:h-64"
      />
      <div class="bg-secondary rounded-2xl p-5 mt-8 shadow-md">
        <h3 class="text-primary text-xl font-semibold">Contacto</h3>
        <p class="font-semibold text-text mt-6">Correo electrónico:</p>
        <p class="">servicio.fime<span>&#64;</span>uanl.mx</p>
        <p class="font-semibold text-text mt-6">Teléfono:</p>
        <p class="">+52 83-29-4020 Ext. 5722</p>
        <p class="font-semibold text-text mt-6">Lugar:</p>
        <p class="">Edificio 11 primer piso FIME</p>
      </div>
    </div>
    <div>
      <h3 class="text-2xl font-semibold text-primary mb-4">Servicio Social</h3>
      <p class="text-gray-700 leading-relaxed mb-6">
        Objetivo: Contribuir en la formación integral de los futuros
        profesionistas universitarios mediante actividades para retribuir a la
        sociedad, aplicando sus conocimientos para la solución de problemas en
        pro de la comunidad.
      </p>
      <div class="mb-4">
        <h2 class="text-lg font-semibold text-text mb-2">
          Requisitos para ser candidato a realizar el Servicio Social
        </h2>
        <ul class="list-disc list-inside text-gray-700 leading-relaxed">
          <li>
            Tener aprobado el 70% del total de los créditos del plan de
            estudios, el cual equivale a 154 créditos, es decir, a partir del
            7mo semestre puede iniciar su proceso de preinscripción.
          </li>
          <li>
            Ser alumno regular (No tener materias en 3era, 4ta, 5ta o 6ta
            oportunidad).
          </li>
          <li>
            EEl proceso de preinscripción lo podrá realizar a través de
            cualquier navegador de internet ingresando al SIASE con matrícula y
            contraseña, una vez dentro del sistema, dar clic en el apartado de
            Registro al Servicio Social (Parte inferior del lado izquierdo de la
            lista de opciones de la interfaz).
          </li>
          <li>
            Una vez dentro de la opción Registro al servicio social verificar
            los datos personales y posteriormente imprimir la boleta que aparece
            en dicha opción, firmar en tinta azul y escanear dicho documento en
            PDF y subirlo a la liga de FORMS que le indicará la Coordinación de
            Servicio Social.
          </li>
          <li>
            Las fechas para la preinscripción al Servicio Social son únicamente
            2 veces al año, para el semestre Ene-Jun 2024, será del 1 de agosto
            al 15 de septiembre del 2023.
          </li>
        </ul>
      </div>
      <div>
        <h2 class="text-lg font-semibold text-text mb-2">
          Requisitos para liberar el Servicio Social
        </h2>
        <ol class="list-decimal list-inside text-gray-700 leading-relaxed">
          <li>
            El alumno deberá cumplir con 6 reportes electrónicos mensuales
            contestados en SIASE. Dicha actividad se realizará en los últimos 5
            días de cada mes, una vez iniciado el servicio social.
          </li>
          <li>
            La cantidad mínima de horas para liberar el servicio social es de
            480 horas.
          </li>
          <li>
            El alumno deberá cumplir con las actividades académicas descritas en
            el Programa Analítico de la Unidad de Aprendizaje Servicio Social.
          </li>
          <li>
            El alumno solicitará un oficio de terminación en la dependencia
            donde realizo su servicio social, dicho documento lo entregará en la
            coordinación de servicio social de la FIME en base a las fechas que
            la coordinación antes mencionada establezca.
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
