<nav
  class="bg-[#FCFAFA] flex justify-between items-center mx-auto h-14 px-12 shadow-md"
>
  <div>
    <p class="font-semibold text-blue-700">
      Uni<i class="text-accent">Serve</i>
    </p>
  </div>

  <div>
    <ul class="flex items-center space-x-12 text-text">
      <li>
        <a class="hover:text-[#83CD51] font-semibold" routerLink="">Inicio</a>
      </li>
      <li>
        <a
          class="hover:text-[#83CD51] font-semibold"
          routerLink="/servicios-generales"
          >Administración</a
        >
      </li>
      <li>
        <a
          class="hover:text-[#83CD51] font-semibold"
          routerLink="/equipos-deportivos"
          >Deportes</a
        >
      </li>
      <li>
        <a
          class="hover:text-[#83CD51] font-semibold"
          routerLink="/grupos-artisticos"
          >Cultura</a
        >
      </li>
      <li>
        <a class="hover:text-[#83CD51] font-semibold" routerLink="/citas"
          >Salud</a
        >
      </li>
    </ul>
  </div>

  <a
    class="flex items-center gap-6 border rounded-md p-1.5 hover:bg-gray-100"
    routerLink="/iniciar-sesion"
  >
    Iniciar Sesión
  </a>
</nav>
