<nav
  class="bg-[#FCFAFA] flex justify-between items-center mx-auto h-14 px-12 shadow-md"
>
  <div>
    <p class="font-semibold text-blue-700">
      Uni<i class="text-accent">Serve</i>
    </p>
  </div>

  <div>
    <ul class="flex items-center space-x-12 text-text">
      <li>
        <a class="hover:text-[#83CD51] font-semibold" href="#">Item 1</a>
      </li>
      <li>
        <a class="hover:text-[#83CD51] font-semibold" href="#">Item 2</a>
      </li>
      <li>
        <a class="hover:text-[#83CD51] font-semibold" href="#">Item 3</a>
      </li>
      <li>
        <a class="hover:text-[#83CD51] font-semibold" href="#">Item 4</a>
      </li>
      <li>
        <a class="hover:text-[#83CD51] font-semibold" href="#">Item 5</a>
      </li>
    </ul>
  </div>

  <div class="flex items-center gap-6 border rounded-md p-1.5">
    <button>Iniciar Sesión</button>
  </div>
</nav>
